<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ManPage</string>
	<key>CFBundleGetInfoString</key>
	<string>13.5.4 (415086), copyright ©1992-2021 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.manpage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.5.4</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<true/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMCommentLineDefault</key>
			<string>.\"</string>
			<key>BBLMEntryPointName</key>
			<string>ManPageMain</string>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMLanguageCode</key>
			<string>ManP</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Unix man page</string>
			<key>BBLMPreviewHTMLGenerator</key>
			<dict>
				<key>BBLMPreviewCommandPath</key>
				<string>man2html.sh</string>
				<key>BBLMPreviewCommandType</key>
				<string>ScriptInBundleResource</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<false/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.1</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.2</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.3</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.4</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.5</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.6</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.7</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.8</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.9</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
