<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bbedit.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BBEdit</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>415086</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>HPDBookAccessPath</key>
	<string>index.htm</string>
	<key>HPDBookIconPath</key>
	<string>bbedit16.png</string>
	<key>HPDBookIndexPath</key>
	<string>BBEdit.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>bbedit</string>
	<key>HPDBookKBURL</key>
	<string>https://www.barebones.com/support/bbedit/</string>
	<key>HPDBookTitle</key>
	<string>BBEdit Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>©1992-2017 Bare Bones Software, Inc.</string>
</dict>
</plist>
