<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>UnixShellScript</string>
	<key>CFBundleGetInfoString</key>
	<string>13.5.4 (415086), copyright ©1992-2021 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.unix-shell-script</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.5.4</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>415086</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMBuiltInCommands</key>
			<array>
				<dict>
					<key>BBLMCommandArguments</key>
					<array>
						<string>-f</string>
						<string>gcc</string>
					</array>
					<key>BBLMCommandName</key>
					<string>CheckSyntax</string>
					<key>BBLMCommandPath</key>
					<string>shellcheck</string>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
			</array>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMEntryPointName</key>
			<string>UnixShellScriptMain</string>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>Shell Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>Shell Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Shel</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Unix Shell Script</string>
			<key>BBLMPreferredFilenameExtension</key>
			<string>sh</string>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-man-page://__SYMBOLNAME__</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.shell.backstring</key>
				<string>==com.barebones.bblm.string</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.sh</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMEntryPointName</key>
			<string>UnixShellScriptMain</string>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>Shell Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>Shell Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>ShWk</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Shell Worksheet</string>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-man-page://__SYMBOLNAME__</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.shell.backstring</key>
				<string>==com.barebones.bblm.string</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
