<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Python</string>
	<key>CFBundleGetInfoString</key>
	<string>13.5.4 (415086), copyright ©1992-2021 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.python</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.5.4</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>415086</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMAutoPairMultipleCountDelimiters</key>
			<dict>
				<key>"</key>
				<integer>3</integer>
				<key>'</key>
				<integer>3</integer>
			</dict>
			<key>BBLMBalanceSpecialRunKinds</key>
			<array>
				<string>com.barebones.bblm.Pyth.triple-string</string>
			</array>
			<key>BBLMBuiltInCommands</key>
			<array>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandOptions</key>
							<dict>
								<key>BBLMCommandOutputWarningsByDefault</key>
								<true/>
								<key>BBLMErrorParsePattern</key>
								<string>flake8</string>
								<key>BBLMParseErrorsFromSTDOUT</key>
								<true/>
							</dict>
							<key>BBLMCommandPath</key>
							<string>flake8</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
							<key>BBLMEnablingDefaultsKey</key>
							<string>UseFlakeForPythonSyntaxChecking</string>
						</dict>
					</array>
					<key>BBLMCommandName</key>
					<string>CheckSyntax</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMErrorParsePattern</key>
						<string>python-builtin</string>
						<key>BBLMParseErrorsFromSTDOUT</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<string>py_check_syntax.py</string>
					<key>BBLMCommandType</key>
					<string>ScriptInBundleResource</string>
				</dict>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandPath</key>
							<string>python3</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
							<key>BBLMEnablingDefaultsKey</key>
							<string>RunUsingPython3</string>
						</dict>
					</array>
					<key>BBLMCommandName</key>
					<string>Run</string>
					<key>BBLMCommandPath</key>
					<string>python</string>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandArguments</key>
							<array>
								<string>-m</string>
								<string>pdb</string>
							</array>
							<key>BBLMCommandOptions</key>
							<dict>
								<key>BBLMCommandRunInTerminal</key>
								<true/>
							</dict>
							<key>BBLMCommandPath</key>
							<string>python3</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
							<key>BBLMEnablingDefaultsKey</key>
							<string>RunUsingPython3</string>
						</dict>
					</array>
					<key>BBLMCommandArguments</key>
					<array>
						<string>-m</string>
						<string>pdb</string>
					</array>
					<key>BBLMCommandName</key>
					<string>Debug</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandRunInTerminal</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<string>python</string>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandName</key>
					<string>ShowDocumentation</string>
					<key>BBLMCommandPath</key>
					<string>pydoc</string>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
			</array>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.Pyth.decorator</string>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMCompletionTagsFileNames</key>
			<array>
				<string>PythonTags.tags</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>PythonMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywordList</key>
			<array>
				<string>__cmp__</string>
				<string>__eq__</string>
				<string>__future__</string>
				<string>__ge__</string>
				<string>__gt__</string>
				<string>__le__</string>
				<string>__lt__</string>
				<string>__ne__</string>
				<string>and</string>
				<string>as</string>
				<string>assert</string>
				<string>break</string>
				<string>class</string>
				<string>continue</string>
				<string>def</string>
				<string>del</string>
				<string>elif</string>
				<string>else</string>
				<string>except</string>
				<string>False</string>
				<string>finally</string>
				<string>for</string>
				<string>from</string>
				<string>global</string>
				<string>if</string>
				<string>import</string>
				<string>in</string>
				<string>is</string>
				<string>lambda</string>
				<string>None</string>
				<string>nonlocal</string>
				<string>not</string>
				<string>or</string>
				<string>pass</string>
				<string>print</string>
				<string>raise</string>
				<string>return</string>
				<string>self</string>
				<string>True</string>
				<string>try</string>
				<string>while</string>
				<string>with</string>
				<string>yield</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Pyth</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Python</string>
			<key>BBLMNibForCustomLanguageSettings</key>
			<string>PythonLanguageSettings</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.Pyth.triple-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMPredefinedNameList</key>
			<array>
				<string>abs</string>
				<string>all</string>
				<string>any</string>
				<string>ascii</string>
				<string>bin</string>
				<string>bool</string>
				<string>breakpoint</string>
				<string>bytearray</string>
				<string>bytes</string>
				<string>callable</string>
				<string>chr</string>
				<string>classmethod</string>
				<string>compile</string>
				<string>complex</string>
				<string>delattr</string>
				<string>dict</string>
				<string>dir</string>
				<string>divmod</string>
				<string>enumerate</string>
				<string>eval</string>
				<string>exec</string>
				<string>filter</string>
				<string>float</string>
				<string>format</string>
				<string>frozenset</string>
				<string>getattr</string>
				<string>globals</string>
				<string>hasattr</string>
				<string>hash</string>
				<string>help</string>
				<string>hex</string>
				<string>id</string>
				<string>input</string>
				<string>int</string>
				<string>isinstance</string>
				<string>issubclass</string>
				<string>iter</string>
				<string>len</string>
				<string>list</string>
				<string>locals</string>
				<string>map</string>
				<string>max</string>
				<string>memoryview</string>
				<string>min</string>
				<string>next</string>
				<string>object</string>
				<string>oct</string>
				<string>open</string>
				<string>ord</string>
				<string>pow</string>
				<string>print</string>
				<string>property</string>
				<string>range</string>
				<string>repr</string>
				<string>reversed</string>
				<string>round</string>
				<string>set</string>
				<string>setattr</string>
				<string>slice</string>
				<string>sorted</string>
				<string>staticmethod</string>
				<string>str</string>
				<string>sum</string>
				<string>super</string>
				<string>tuple</string>
				<string>type</string>
				<string>vars</string>
				<string>zip</string>
				<string>__import__</string>
				<string>fractions</string>
				<string>Fraction</string>
				<string>decimal</string>
				<string>Decimal</string>
				<string>numbers</string>
				<string>Number</string>
				<string>Complex</string>
				<string>Real</string>
				<string>Rational</string>
				<string>Integral</string>
				<string>capitalize</string>
				<string>casefold</string>
				<string>center</string>
				<string>count</string>
				<string>encode</string>
				<string>endswith</string>
				<string>expandtabs</string>
				<string>find</string>
				<string>format_map</string>
				<string>index</string>
				<string>isalnum</string>
				<string>isalpha</string>
				<string>isascii</string>
				<string>isdecimal</string>
				<string>isdigit</string>
				<string>isidentifier</string>
				<string>islower</string>
				<string>isnumeric</string>
				<string>isprintable</string>
				<string>isspace</string>
				<string>istitle</string>
				<string>isupper</string>
				<string>join</string>
				<string>ljust</string>
				<string>lower</string>
				<string>lstrip</string>
				<string>maketrans</string>
				<string>partition</string>
				<string>replace</string>
				<string>rfind</string>
				<string>rindex</string>
				<string>rjust</string>
				<string>rpartition</string>
				<string>rsplit</string>
				<string>rstrip</string>
				<string>split</string>
				<string>splitlines</string>
				<string>startswith</string>
				<string>strip</string>
				<string>swapcase</string>
				<string>title</string>
				<string>translate</string>
				<string>upper</string>
				<string>zfill</string>
				<string>isdisjoint</string>
				<string>issubset</string>
				<string>issuperset</string>
				<string>union</string>
				<string>intersection</string>
				<string>difference</string>
				<string>symmetric_difference</string>
				<string>copy</string>
				<string>update</string>
				<string>intersection_update</string>
				<string>difference_update</string>
				<string>symmetric_difference_update</string>
				<string>add</string>
				<string>remove</string>
				<string>discard</string>
				<string>pop</string>
				<string>clear</string>
				<string>fromkeys</string>
				<string>get</string>
				<string>items</string>
				<string>keys</string>
				<string>popitem</string>
				<string>setdefault</string>
				<string>values</string>
				<string>__contains__</string>
				<string>__iter__</string>
				<string>__next__</string>
				<string>__eq__</string>
				<string>__enter__</string>
				<string>__exit__</string>
				<string>__dict__</string>
				<string>__class__</string>
				<string>__bases__</string>
				<string>__name__</string>
				<string>__qualname__</string>
				<string>__mro__</string>
				<string>__subclasses__</string>
				<string>BaseException</string>
				<string>SystemExit</string>
				<string>KeyboardInterrupt</string>
				<string>GeneratorExit</string>
				<string>Exception</string>
				<string>StopIteration</string>
				<string>StopAsyncIteration</string>
				<string>ArithmeticError</string>
				<string>FloatingPointError</string>
				<string>OverflowError</string>
				<string>ZeroDivisionError</string>
				<string>AssertionError</string>
				<string>AttributeError</string>
				<string>BufferError</string>
				<string>EOFError</string>
				<string>ImportError</string>
				<string>ModuleNotFoundError</string>
				<string>LookupError</string>
				<string>IndexError</string>
				<string>KeyError</string>
				<string>MemoryError</string>
				<string>NameError</string>
				<string>UnboundLocalError</string>
				<string>OSError</string>
				<string>BlockingIOError</string>
				<string>ChildProcessError</string>
				<string>ConnectionError</string>
				<string>BrokenPipeError</string>
				<string>ConnectionAbortedError</string>
				<string>ConnectionRefusedError</string>
				<string>ConnectionResetError</string>
				<string>FileExistsError</string>
				<string>FileNotFoundError</string>
				<string>InterruptedError</string>
				<string>IsADirectoryError</string>
				<string>NotADirectoryError</string>
				<string>PermissionError</string>
				<string>ProcessLookupError</string>
				<string>TimeoutError</string>
				<string>ReferenceError</string>
				<string>RuntimeError</string>
				<string>NotImplementedError</string>
				<string>RecursionError</string>
				<string>SyntaxError</string>
				<string>IndentationError</string>
				<string>TabError</string>
				<string>SystemError</string>
				<string>TypeError</string>
				<string>ValueError</string>
				<string>UnicodeError</string>
				<string>UnicodeDecodeError</string>
				<string>UnicodeEncodeError</string>
				<string>UnicodeTranslateError</string>
				<string>Warning</string>
				<string>DeprecationWarning</string>
				<string>PendingDeprecationWarning</string>
				<string>RuntimeWarning</string>
				<string>SyntaxWarning</string>
				<string>UserWarning</string>
				<string>FutureWarning</string>
				<string>ImportWarning</string>
				<string>UnicodeWarning</string>
				<string>BytesWarning</string>
				<string>ResourceWarning</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-pydoc://lookup/__SYMBOLNAME__</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.Pyth.decorator</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.Pyth.string-*</key>
				<string>==com.barebones.bblm.Pyth.triple-string</string>
				<key>com.barebones.bblm.Pyth.triple-string</key>
				<string>rgba(1.0, 0.2, 0.6, 1.0)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.Pyth.decorator</key>
				<string>Decorators</string>
				<key>com.barebones.bblm.Pyth.triple-string</key>
				<string>Triple-quoted strings</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.Pyth.triple-string</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.py</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
