<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CSS</string>
	<key>CFBundleGetInfoString</key>
	<string>13.5.4 (415086), copyright ©1992-2021 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.css</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.5.4</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>415086</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMAllowKeywordLookupAdditionalRunKinds</key>
			<array>
				<string>com.barebones.bblm.css.property</string>
				<string>com.barebones.bblm.css.vendor-property</string>
				<string>com.barebones.bblm.css.identifier</string>
			</array>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string></string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.variable</string>
				<string>com.barebones.bblm.css.*property</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>CSSMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionItemKinds</key>
			<dict>
				<key>:</key>
				<dict>
					<key>displayName</key>
					<string>scope selector</string>
					<key>labelCharacter</key>
					<string>:</string>
					<key>labelColorName</key>
					<string>seagreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.scope-selector</string>
				</dict>
				<key>@</key>
				<dict>
					<key>displayName</key>
					<string>at rule</string>
					<key>labelCharacter</key>
					<string>@</string>
					<key>labelColorName</key>
					<string>darkorange</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.at-rule</string>
				</dict>
				<key>A</key>
				<dict>
					<key>displayName</key>
					<string>attribute selector</string>
					<key>labelBadgeShape</key>
					<string>circle</string>
					<key>labelCharacter</key>
					<string>a</string>
					<key>labelColorName</key>
					<string>CodeSenseLightGreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.attribute-selector</string>
				</dict>
				<key>C</key>
				<dict>
					<key>displayName</key>
					<string>class selector</string>
					<key>labelCharacter</key>
					<string>·</string>
					<key>labelColorName</key>
					<string>hotpink</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.class-selector</string>
				</dict>
				<key>E</key>
				<dict>
					<key>displayName</key>
					<string>element selector</string>
					<key>labelCharacter</key>
					<string>&lt;</string>
					<key>labelColorName</key>
					<string>purple</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.element-selector</string>
				</dict>
				<key>I</key>
				<dict>
					<key>displayName</key>
					<string>ID selector</string>
					<key>labelCharacter</key>
					<string>#</string>
					<key>labelColorName</key>
					<string>CodeSenseLightBlue</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.id-selector</string>
				</dict>
				<key>M</key>
				<dict>
					<key>displayName</key>
					<string>media query</string>
					<key>labelCharacter</key>
					<string>@</string>
					<key>labelColorName</key>
					<string>darkorange</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.media-query</string>
				</dict>
				<key>S</key>
				<dict>
					<key>displayName</key>
					<string>selector</string>
					<key>labelCharacter</key>
					<string>s</string>
					<key>labelColorName</key>
					<string>seagreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.selector</string>
				</dict>
			</dict>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywordLookupRunKindRestrictions</key>
			<dict>
				<key>com.barebones.bblm.css.identifier</key>
				<array>
					<string>com.barebones.bblm.css.identifier</string>
					<string>com.barebones.bblm.css.function-name</string>
					<string>com.barebones.bblm.css.color-spec</string>
					<string>com.barebones.bblm.css.value-keyword</string>
					<string>com.barebones.bblm.css.value-unit</string>
				</array>
			</dict>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Color Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.color-spec</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Properties.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.property</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Vendor Prefixed.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.vendor-property</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Functions.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.function-name</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Value Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.value-keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Unit Labels.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.value-unit</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>CSS </string>
			<key>BBLMLanguageDisplayName</key>
			<string>CSS</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.css.*property</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string></string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>rgba(0.816162,0.136085,0.145172,1.000000)</string>
				<key>com.barebones.bblm.css.function-name</key>
				<string>==com.barebones.bblm.predefined-symbol</string>
				<key>com.barebones.bblm.css.identifier</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.css.value-keyword</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.css.value-unit</key>
				<string>==com.barebones.bblm.keyword</string>
			</dict>
			<key>BBLMRunNameUIOrdering</key>
			<array>
				<string>com.barebones.bblm.css.color-spec</string>
				<string>com.barebones.bblm.css.property</string>
				<string>com.barebones.bblm.css.custom-property</string>
				<string>com.barebones.bblm.css.vendor-property</string>
			</array>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>Color Specification</string>
				<key>com.barebones.bblm.css.custom-property</key>
				<string>Property Names (Custom)</string>
				<key>com.barebones.bblm.css.property</key>
				<string>Property Names (General)</string>
				<key>com.barebones.bblm.css.vendor-property</key>
				<string>Property Names (Vendor Specific)</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.css</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMAllowKeywordLookupAdditionalRunKinds</key>
			<array>
				<string>com.barebones.bblm.css.property</string>
				<string>com.barebones.bblm.css.vendor-property</string>
				<string>com.barebones.bblm.css.identifier</string>
			</array>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>// </string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.variable</string>
				<string>com.barebones.bblm.css.*property</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>CSSMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionItemKinds</key>
			<dict>
				<key>:</key>
				<dict>
					<key>displayName</key>
					<string>scope selector</string>
					<key>labelCharacter</key>
					<string>:</string>
					<key>labelColorName</key>
					<string>seagreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.scope-selector</string>
				</dict>
				<key>@</key>
				<dict>
					<key>displayName</key>
					<string>at rule</string>
					<key>labelCharacter</key>
					<string>@</string>
					<key>labelColorName</key>
					<string>darkorange</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.at-rule</string>
				</dict>
				<key>A</key>
				<dict>
					<key>displayName</key>
					<string>attribute selector</string>
					<key>labelBadgeShape</key>
					<string>circle</string>
					<key>labelCharacter</key>
					<string>a</string>
					<key>labelColorName</key>
					<string>CodeSenseLightGreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.attribute-selector</string>
				</dict>
				<key>C</key>
				<dict>
					<key>displayName</key>
					<string>class selector</string>
					<key>labelCharacter</key>
					<string>·</string>
					<key>labelColorName</key>
					<string>hotpink</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.class-selector</string>
				</dict>
				<key>E</key>
				<dict>
					<key>displayName</key>
					<string>element selector</string>
					<key>labelCharacter</key>
					<string>&lt;</string>
					<key>labelColorName</key>
					<string>purple</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.element-selector</string>
				</dict>
				<key>I</key>
				<dict>
					<key>displayName</key>
					<string>ID selector</string>
					<key>labelCharacter</key>
					<string>#</string>
					<key>labelColorName</key>
					<string>CodeSenseLightBlue</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.id-selector</string>
				</dict>
				<key>M</key>
				<dict>
					<key>displayName</key>
					<string>media query</string>
					<key>labelCharacter</key>
					<string>@</string>
					<key>labelColorName</key>
					<string>darkorange</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.media-query</string>
				</dict>
				<key>S</key>
				<dict>
					<key>displayName</key>
					<string>selector</string>
					<key>labelCharacter</key>
					<string>s</string>
					<key>labelColorName</key>
					<string>seagreen</string>
					<key>typeString</key>
					<string>com.barebones.bblm.CSS.selector</string>
				</dict>
			</dict>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywordLookupRunKindRestrictions</key>
			<dict>
				<key>com.barebones.bblm.css.identifier</key>
				<array>
					<string>com.barebones.bblm.css.identifier</string>
					<string>com.barebones.bblm.css.function-name</string>
					<string>com.barebones.bblm.css.color-spec</string>
					<string>com.barebones.bblm.css.value-keyword</string>
					<string>com.barebones.bblm.css.value-unit</string>
				</array>
			</dict>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>SCSS Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Color Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.color-spec</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Properties.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.property</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Vendor Prefixed.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.vendor-property</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Functions.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.function-name</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Value Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.value-keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Unit Labels.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.value-unit</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>SCSS</string>
			<key>BBLMLanguageDisplayName</key>
			<string>SCSS</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.css.*property</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string></string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>rgba(0.816162,0.136085,0.145172,1.000000)</string>
				<key>com.barebones.bblm.css.function-name</key>
				<string>==com.barebones.bblm.predefined-symbol</string>
				<key>com.barebones.bblm.css.identifier</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.css.value-keyword</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.css.value-unit</key>
				<string>==com.barebones.bblm.keyword</string>
			</dict>
			<key>BBLMRunNameUIOrdering</key>
			<array>
				<string>com.barebones.bblm.css.color-spec</string>
				<string>com.barebones.bblm.css.property</string>
				<string>com.barebones.bblm.css.custom-property</string>
				<string>com.barebones.bblm.css.vendor-property</string>
			</array>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>Color Specification</string>
				<key>com.barebones.bblm.css.custom-property</key>
				<string>Property Names (Custom)</string>
				<key>com.barebones.bblm.css.property</key>
				<string>Property Names (General)</string>
				<key>com.barebones.bblm.css.vendor-property</key>
				<string>Property Names (Vendor Specific)</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.scss</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
