<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PBXProject</string>
	<key>CFBundleGetInfoString</key>
	<string>13.5.4 (415086), copyright ©1992-2021 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.pbxproject</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.5.4</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>415086</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>415086</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>//</string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMEntryPointName</key>
			<string>PBXMain</string>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>PBXProject Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>PBXProject Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>PBXP</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Xcode Project</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMPreferredFilenameExtension</key>
			<string>pbxproj</string>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.pbxproj</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
