<!DOCTYPE html>
<!-- This website template was created by:
 Zachary Childers
 IST-222
 2/1/21 -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Zachary Childers</title>
</head>
<body>
<!-- start -->

<!-- Use header area for website name / logo -->
    <h1 align=center>
        Hi, I'm Zach!
    </h1>
<!-- Used to add hyperlinks to other pages within the website -->
<nav align=center>
    Home &nbsp;&nbsp;
    Projects &nbsp;&nbsp;
    Contact Me &nbsp;&nbsp;
</nav>
<!-- Has the main content of the webpage -->
<main>

    <p align=center>
        <hr>
        Thank you for taking the time to check out my portfolio!
    </p>


    <p align=left>
        Here are some projects I've been working on lately:<br></p>
    <ol>
        <li>SQL Programming</li>
        <li>Unity Game Development</li>
        <li>Python Game Development, using the Ursina Engine</li>
        <li>Learning Web Development</li>
    </ol>


    <p align=left>
        Here are some of my more interesting projects that I've already completed:<br></p>
        <ol>
            <li>Webscraping with Java &checkmark;</li>
            <li>Python Discord bots &checkmark;</li>
            <li>Several Python automation, AI and Machine Learning programs - including some to spam your friends with &checkmark;</li>
            <li>C# Discord bots &checkmark;</li>
        </ol>


</main>
<!-- Webpage footer, has footer content -->
<footer align=center>
    <br><hr>
    &copy; Copyright 2021. All Rights Reserved <br>
    zdchilders10@sccsc.edu
</footer>

<!-- end -->
</body>
</html>