<!DOCTYPE html>
<!-- This website template was created by:
 Zachary Childers
 IST-222
 2/1/21 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forward Fitness Club</title>
</head>
<body>
<!-- start -->

<!-- Use header area for website name / logo -->
    <header>
        Forward Fitness Club
    </header>
<!-- Used to add hyperlinks to other pages within the website -->
<nav>
    Home &nbsp;&nbsp;
    About Us &nbsp;&nbsp;
    Classes &nbsp;&nbsp;
    Nutrition &nbsp;&nbsp;
    Contact Us &nbsp;&nbsp;
</nav>
<!-- Has the main content of the webpage -->
<main>
</main>
<!-- Webpage footer, has footer content -->
<footer>
    &copy; Copyright 2015. All Rights Reserved <br>
    forwardfitness@club.net
</footer>

<!-- end -->
</body>
</html>